<!-- linking costum css category dropdown -->
<link rel="stylesheet" href="/css/userCategoryDropdown.css" type="text/css">
<!-- linking end here -->

<!-- top-area Start -->
<div class="top-area">
  <div class="header-area">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
      data-minus-value-mobile="55" data-speed="1000">

      <!-- Start Top Search -->
      <div class="top-search">
        <div class="container">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
          </div>
        </div>
      </div>
      <!-- End Top Search -->

      <div class="container">
        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
          <ul>
            <li class="search">
              <a href="#"><span class="lnr lnr-magnifier"></span></a>
            </li><!--/.search-->
            <li class="nav-setting dropdown">
              <a href="#"><i class="bi bi-person dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false"></i></a>
              <ul class="dropdown-menu">
                <% if (users) { %>
                  <li><a class="dropdown-item" href="/userProfile">Profile</a></li>
                  <li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
                  <li><a class="dropdown-item" href="/userLogOut">Logout</a></li>
                  <%} else { %>
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <% } %>
              </ul>
            </li><!--/.search-->

            <li class="dropdown <% if(page==" cart"){ %>active <% } %>">
                <a href="/userCart" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="bi bi-cart2"></i>
                  <% if (users) { %>
                    <span class="badge badge-bg-1" id="cart-count">
                      <%= users.cart.items.length %>
                    </span>
                    <% } %>
                </a>
            </li>
          </ul>
        </div><!--/.attr-nav-->
        <!-- End Atribute Navigation -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i>
          </button>
          <!-- <a class="navbar-brand" href="/">URBANCART</a> -->

        </div><!--/.navbar-header-->
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
          <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
            <li class=" nav-item <% if(page==" home"){ %>active <% } %>"><a href="/">Home</a></li>
            <li class="nav-item <% if(page==" furnitures"){ %>active <% } %>"><a href="/products">Furnitures</a></li>
            <li class="nav-item <% if(page==" orders"){ %>active <% } %>"><a href="">Orders</a></li>

            <li class="nav-item">
              <div class="dropdown text-dark">
                <a class="dropbtn">Category</a>
                <div class="dropdown-content">
                  <a href="/products">
                    All Products
                  </a>
                  <% showCategory.forEach((el)=>{ %>
                    <a class="dropdown-item" href="/products?category=<%= el._id %>">
                      <%=el.category %>
                    </a>
                    <% }) %>
                </div>
              </div>
            </li>
          </ul><!--/.nav -->

          <!-- style for li to center -->
          <style>
            .nav li {
              width: 100;
              height: 100;
              display: flex;
              align-items: center;
            }
          </style>


        </div><!-- /.navbar-collapse -->
      </div><!--/.container-->
    </nav><!--/nav-->
    <!-- End Navigation -->
  </div><!--/.header-area-->
  <div class="clearfix"></div>

</div><!-- /.top-area-->
<!-- top-area End -->
